* {
    box-sizing: border-box;
}
/*Polices*/
@font-face {
    font-family: "Roboto-Bold.ttf";
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-Medium.ttf";
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Lato-Light.ttf";
    src: url(fonts/Lato-Light.ttf);
}
body {
    margin: 0 auto;
    padding: 0;
    -webkit-print-color-adjust: exact !important;
}
html {
    font-size: 15px;
}
p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: "Lato-Light.ttf";
}
h1 {
    font-size: 2.5rem;
    font-family: "Roboto-Bold.ttf";
}
h2 {
    font-size: 1.5rem;
    font-family: "Roboto-Bold.ttf";
}
h4 {
    font-size: 1.2rem;
    font-family: "Roboto-Bold.ttf";
}
/* Header */
header {
    padding: 50px 20px;
}
header h1 {
    margin: inherit;
}
header h1 span {
    color: #f6c70a;
}
header h4 {
    color: #7b7c7a;
    margin: inherit;
}
header h4 span {
    border-bottom: solid 2px #f6c70a;
}

/* Détails */
section.details {
    display: flex;
    flex-direction: column;
    background-color: #fccb04;
    padding: 0 20px 20px;
}
img {
    width: 140px;
    border-radius: 50%;
    margin: 50px auto;
}
section.details h2 {
    color: #fccb04;
    background-color: #45423d;
    text-align: center;
    padding: 5px;
    margin: 20px -20px;
    text-transform: uppercase;
}
section.details p:nth-of-type(2),
section.details p:nth-of-type(4),
section.details p:nth-of-type(6),
section.details p:nth-of-type(7),
section.details p:nth-of-type(8),
section.details p:nth-of-type(9),
section.details p:nth-of-type(10),
section.details p:nth-of-type(11),
section.details p:nth-of-type(12) {
    margin-bottom: 20px;
}
/*Loisirs*/
.loisirs svg {
    width: calc((100% - 8px) / 3);
    height: 50px;
}
/* Informations */
section.information {
    padding: 0 20px;
}
section.information h2 svg {
    width: 30px;
    height: 30px;
    color: #fccb04;
    position: inherit;
}
section.information h4 {
    margin: 0;
}
section.information div {
    margin: 0 20px 30px;
}
section.information h2 {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: solid 2px #f6c70a;
}
section.information h2 svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
section.information svg {
    width: 30px;
    height: 30px;
}
section.information svg {
    width: 13px;
    height: 17px;
    position: absolute;
    left: 20px;
    color: #fccb04;
}
/*Recommandations*/

/* Responsive */
@media screen and (min-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }
    header {
        order: 2;
        width: 60%;
        position: relative;
        padding: 50px 20px;
    }
    section.details {
        order: 1;
        width: 40%;
        position: absolute;
        left: 0;
    }
    section.information {
        order: 3;
        width: 60%;
        position: relative;
    }
}
@media screen and (min-width: 768px) {
    body {
        max-width: 1024px;
    }
    header {
        width: 70%;
    }
    section.details {
        width: 30%;
    }
    section.information {
        width: 70%;
    }
    section.information div {
        display: flex;
        flex-wrap: wrap;
    }
    section.information p:nth-of-type(1) {
        order: 1;
        width: 30%;
    }
    section.information p:nth-of-type(2) {
        order: 3;
        width: 30%;
    }
    section.information h4 {
        order: 2;
        width: 70%;
    }
    section.information p:nth-of-type(3) {
        order: 4;
        width: 70%;
    }
    section.information .recommandations h4 {
        order: 1;
        width: 30%;
    }
    section.information .recommandations p:nth-of-type(1) {
        order: 3;
        width: 30%;
    }
    section.information .recommandations p:nth-of-type(2) {
        order: 2;
        width: 70%;
    }
    section.information .recommandations p:nth-of-type(3) {
        order: 4;
        width: 70%;
    }
}
/*Print*/
@media print {
    html {
        font-size: 14px;
    }
    .loisirs svg {
        width: calc((100% - 8px) / 3);
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
    }
    p {
        font-size: 0.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1rem;
    }
    header {
        order: 2;
        width: 60%;
        position: relative;
        padding: 50px 20px;
    }
    section.details {
        order: 1;
        width: 40%;
        position: absolute;
        left: 0;
    }
    section.information {
        order: 3;
        width: 60%;
        position: relative;
    }
    section.information div {
        display: flex;
        flex-wrap: wrap;
    }
    section.information p:nth-of-type(1) {
        order: 1;
        width: 30%;
    }
    section.information p:nth-of-type(2) {
        order: 3;
        width: 30%;
    }
    section.information h4 {
        order: 2;
        width: 70%;
    }
    section.information p:nth-of-type(3) {
        order: 4;
        width: 70%;
    }
    section.information .recommandations h4 {
        order: 1;
        width: 30%;
    }
    section.information .recommandations p:nth-of-type(1) {
        order: 3;
        width: 30%;
    }
    section.information .recommandations p:nth-of-type(2) {
        order: 2;
        width: 70%;
    }
    section.information .recommandations p:nth-of-type(3) {
        order: 4;
        width: 70%;
    }
}
